.work:hover .layer{
    height: 100%;
}
.layer{
    transition: height 0.5s;
}
@media only screen and (max-width: 768px){
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: end;
        text-align: left;
        z-index: 2;
        opacity: 5;
        transition: right 0.5s linear;

    }
    nav ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        display: block;
        padding: 20px 10px;
        font-size: 22px;
        transition: .5s;
    }  
    nav ul li a:hover{
        font-size: 23px;
    } 
    .close{
        display: block;
    }
    .serve{
        flex-direction: column;
    }
    .port{
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
}